.background-image {
    width: 100%;
    height: 100%;
    position: fixed;  

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

ion-menu-button {
    color: #ff6c02;
}

ion-header {
    background-color: #fff;
}