<ion-header [translucent]="true">
  <ion-toolbar>
    
    <div style="margin-bottom: -8px;">
      <ion-icon size="large" style="color: #ff6c02;" name="chevron-back-outline" routerLink="/mass"></ion-icon>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-image" style="background-image: url('../assets/images/bg.jpg');"></div>
  <style>
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.705);
      z-index: -1; 
    }
  </style>
  <div class="overlay"></div>

  <div class="container mt-4">
    <div class="row">
        <div class="col-12">
          <div class="text-center mb-4">
            <ion-card>
              <img alt="ib" src="../assets/images/funeral.jpg" />
              <ion-card-header>
                <ion-card-title>Funeral Form</ion-card-title>
                <ion-card-subtitle>Holy Family Parish</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </div>
          <form class="file-upload" [formGroup]="funeralForm" (ngSubmit)="funeral()">
            <div class="row mb-5 gx-5">
              <div class="col-xxl-8 mb-3 mb-xxl-0">
                <div class="bg-secondary-soft px-4 py-3 rounded">
                  <div class="row g-3">
                    <div class="col-md-12">
                      <label class="form-label">Name of the Deceased</label>
                    </div>
                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <div class="col-md-12">
                            <input formControlName="firstname" type="text" class="form-control" placeholder="First Name" aria-label="First Name">
                            <span class="text-danger" style="font-size: 12px; margin-left: 10px;" *ngIf="funeralForm.controls['firstname'].dirty && funeralForm.hasError('required', 'firstname')">*Required.</span>
                          </div>
                        </ion-col>
                        
                        <ion-col>
                          <div class="col-md-12">
                            <input formControlName="lastname" type="text" class="form-control" placeholder="Last Name" aria-label="Last Name">
                            <span class="text-danger" style="font-size: 12px; margin-left: 10px;" *ngIf="funeralForm.controls['lastname'].dirty && funeralForm.hasError('required', 'lastname')">*Required.</span>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>

                    <div class="col-md-12">
                    </div>

                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <div class="col-md-12">
                            <label class="form-label">Date of Death</label>
                            <input formControlName="death" type="date" class="form-control" placeholder="Death">
                            <span class="text-danger" style="font-size: 12px; margin-left: 10px;" *ngIf="funeralForm.controls['death'].dirty && funeralForm.hasError('required', 'death')">*Required.</span>
                          </div>
                        </ion-col>
                        
                        <ion-col>
                          <div class="col-md-12">
                            <label class="form-label">Service Date</label>
                            <input formControlName="date" type="date" class="form-control" placeholder="Date">
                            <span class="text-danger" style="font-size: 12px; margin-left: 10px;" *ngIf="funeralForm.controls['date'].dirty && funeralForm.hasError('required', 'date')">*Required.</span>
                          </div>
                        </ion-col>

                        <ion-col>
                          <div class="col-md-12">
                            <label class="form-label">Service Time</label>
                            <input formControlName="time" type="time" class="form-control" placeholder="Time">
                            <span class="text-danger" style="font-size: 12px; margin-left: 10px;" *ngIf="funeralForm.controls['time'].dirty && funeralForm.hasError('required', 'time')">*Required.</span>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>

                    <div class="col-md-12">
                      <label class="form-label">Service Address</label>
                    </div>

                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <div class="col-md-12">
                            <input formControlName="serviceAddress" type="text" class="form-control" placeholder="Service Address" aria-label="Service Address">
                            <span class="text-danger" style="font-size: 12px; margin-left: 10px;" *ngIf="funeralForm.controls['serviceAddress'].dirty && funeralForm.hasError('required', 'serviceAddress')">*Required.</span>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                    
                    <div class="col-md-12">
                      <label class="form-label">Person to Contact</label>
                    </div>

                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <div class="col-md-12">
                            <input formControlName="fullname" type="text" class="form-control" placeholder="Fullname" aria-label="Fullname">
                            <span class="text-danger" style="font-size: 12px; margin-left: 10px;" *ngIf="funeralForm.controls['fullname'].dirty && funeralForm.hasError('required', 'fullname')">*Required.</span>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>

                    <div class="col-md-12">
                    </div>

                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <div class="col-md-12">
                            <input formControlName="relationship" type="text" class="form-control" placeholder="Relationship" aria-label="Relationship">
                            <span class="text-danger" style="font-size: 12px; margin-left: 10px;" *ngIf="funeralForm.controls['relationship'].dirty && funeralForm.hasError('required', 'relationship')">*Required.</span>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>

                    <div class="col-md-12">
                    </div>
                    
                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <div class="col-md-12">
                            <input formControlName="email" type="email" class="form-control" placeholder="Email" aria-label="Email">
                            <span class="text-danger" style="font-size: 12px; margin-left: 10px;" *ngIf="funeralForm.controls['email'].dirty && funeralForm.hasError('required', 'email')">*Required.</span>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                    
                    <div class="col-md-12">
                    </div>

                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <div class="col-md-12">
                            <input formControlName="phone" type="text" class="form-control" placeholder="Mobile Phone" aria-label="Mobile Phone">
                            <span class="text-danger" style="font-size: 12px; margin-left: 10px;" *ngIf="funeralForm.controls['phone'].dirty && funeralForm.hasError('required', 'phone')">*Required.</span>
                          </div>
                        </ion-col>
                      </ion-row>
                    </ion-grid>

                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <input [disabled]="!funeralForm.valid" type="submit" class="btn btn-light">
              </div>

            </div>
          </form> 
        </div>
      </div>
    </div>

        

</ion-content>
